/* This is SCSS styles file from cssCompositionWhitelabeling */

//This contains the styles that are applied both to
//the whitelabeled and "not-whitelabeled" input.
.input,
.whiteLabeledInput {
    height: 50px;
    width: 100px;
}

//This contains the styles that are applied only to the "not-whitelabeled-input".
.input { 
   border-radius: 5px;
}

//This contains the styles that are applied to the whitelabeled input using
//local input className from "common" styles.
.whiteLabeledInput { 
    composes: input from "sharedStyles/whiteLabeling/styles.scss";
}