.oao {
  composes: app from 'components/styles.scss';

  :global { 
    .ubsf_button {
  	   background: blue;
       border-radius: 50%;
    }
  }

  .input {
      border-radius: 50%;
      color: blue;
  }
}

.default { 
  composes: app from 'components/styles.scss';

  :global { 
    .ubsf_button {
  	   background: black;
    }
  }

  .input {
     color: grey;
  }
}

.custom {
  composes: app from "components/styles.scss";
}
