@oaoBgColor: white; //this doesn't override the colors/styles.less because it's local to the file

.app {
    background-color: @oaoBgColor;
    font-family: helvetica, arial, sans-serif;
    padding: 6px 20px 30px;
    text-size-adjust: none;
}
