/* This is SCSS styles file from jsCompositionWhitelabeling */

.text {
  color: #777;
  font-size: 24px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
}

.button {
    height: 100px;
    display: inline-block;
    border: 1px solid red;
     cursor: pointer;

    &:not(:global(.ubsf_button)) {
      width: 100px;
    }
}